.indent {
    margin-left: 30px;
    list-style-type: circle; 
}

.indent-2x {
    margin-left: 60px;
    list-style-type: disc;
}

.indent-3x {
    margin-left: 90px;
    list-style-type: circle; 
} 

.indent-4x {
    margin-left: 120px;
    list-style-type: disc;
}

.indent-5x {
    margin-left: 150px;
    list-style-type: circle; 
}

.indent-6x {
    margin-left: 180px;
    list-style-type: disc;
}

.indent-7x {
    margin-left: 210px;
    list-style-type: circle; 
}