.atmBackground {
    background-color: #787577;
    height: 350px;
    width: 800px;
}

.atmScreen {
    background-color: #03355e;
    color: white;
    height: 350px;
    width: 500px;
    margin-left: 75px;
    border-radius: 5px;
}

.display {
    padding-top: 50px;
}

.atmScreen input {
    color: black
}

.hidden{
    display: none
}

.atmB1{
    top: 120px;
}

.atmB2{
    top: 120px;
}

.atmButton2 {
    background-color: #b5b7bd;
    margin-top: 15px;
    height: 35px;
    width: 35px;
}

.atmButton {
    background-color: #b5b7bd;
    margin-top: 15px;
    margin-left: 80px;
    height: 35px;
    width: 35px;
}

.atmKeypad {
    position: absolute;
    top: 370px;
    background-color: #acabb0;
    margin-left: 200px;
    height: 250px;
    width: 400px;
}

.numKey{
    margin: 10px 3px 0 3px;
    font-size: 10px;
    height: 50px;
    width: 50px;
}

.letterKey{
    position: relative;
    font-size: 8px;
}

.arrowKey{
    font-size: 10px;
}

.keyButton{
    margin: 10px 3px 0 3px;
    font-size: 10px;
    height: 50px;
    width: 100px;
}

.cancelColor {
    color: red;
}

.clearColor {
    color: yellow;
}

.enterColor {
    color: green;
}

.optionRow {
    position: relative;
    margin-left: 50px;
}